attrs==20.3.0
autopep8==2.2.0
beautifulsoup4==4.12.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
check50==3.3.11
clang-format==18.1.7
cryptography==42.0.8
EditorConfig==0.12.4
icdiff==2.0.7
idna==3.7
jellyfish==0.11.2
Jinja2==3.1.4
jsbeautifier==1.15.1
lib50==3.0.11
MarkupSafe==2.1.5
packaging==24.1
pexpect==4.9.0
pillow==10.3.0
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.22
python-magic==0.4.27
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
style50==2.10.3
submit50==3.1.4
termcolor==1.1.0
urllib3==2.2.2
